//Colors
$Bandsite-Black: #323232;
$BandSite-DarkBlack: #000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;
$Silver: #AFAFAF;
$White: #FFF;
$Error-Red: #D22D2D;


//Breakpoints
// Tablet+ sized screens
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

//1058px is the screen width where the tablet css produces the correct desktop result. 
//Time to stop the page content from growing. Takes in the tablet breakpoint padding as a parameter  
@mixin desktop($tabletPadding : 3) {
    @media (min-width: 1058px) {
        padding-left: calc((100% - 1058px) / 2 + #{$tabletPadding}rem);
        padding-right: calc((100% - 1058px) / 2 + #{$tabletPadding}rem);
    }
}


//Fonts
@font-face {
    font-family: 'AvenirNext';
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
    src: url("../assets/fonts/alternative_files/AvenirNextLTPro.ttf") format("truetype");
    font-weight: 400;
}

@font-face{
    font-family: 'AvenirNext';
    src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
    src: url("../assets/fonts/alternative_files/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: 700;
}

@font-face{
    font-family: 'AvenirNext';
    src: url("../assets/fonts/AvenirNextLTPro-Demi") format("opentype");
    src: url("../assets/fonts/alternative_files/AvenirNextLTProDemi.ttf") format("truetype");
    font-weight: 600;
}

//Styling
*{
    margin: 0;
    font-family: AvenirNext;
    color: $Bandsite-Black;
}

//Used on 'BANDSITE' wordmark
h1 {
    text-transform: uppercase;
    font-size: 1.5rem; //ignoring style guide to match picture
    font-weight: 400;
    width: 7.5rem;
    padding: 0;
    color: $White;
    background-color: $Bandsite-Black;
}

//Page title and section titles
h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem 0 1rem;

    @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

//Section heading
h3 {
    font-size: .875rem;
    line-height: 1rem; 
    font-weight: 600;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

h4 {
    font-size: .875rem;
    line-height: 1rem; 
    font-weight: 600;
}

//links
a {
    text-decoration: none;
    color:$White;
}

//body copy
p {
  font-size: 0.8125rem;
  line-height: 1.125rem;

  @include tablet{
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}



header {
    background-color: $Bandsite-Black;
    padding-top: 1rem;
    position: relative;
    


    @include tablet {
        display: flex;
        align-items: center;
        position: unset;
        padding-left: 3rem;
        padding-top: 0;
        height: 5rem;
    }

    @include desktop(3);

    h1 {
        position: relative;
        //center wordmark text within it's box 
        text-align: center;
        //positioning to center of page
        left: 50%;
        transform: translateX(-50%);
      
        @include tablet {
            //undo all the mobile positioning. This was the only place a mobile media query could have been used so I didn't make one.
            position: unset;
            text-align: left;
            left: 0%;
            transform: translateX(0);
        }      
    }
}

//list of links for user to navigate future pages
.site-nav {
    display: flex;
    padding: 0;

    li {
        list-style: none; //Remove the default list styling
        flex: 50%; //50% because there's 2 list items
        text-align: center;
        
        @include tablet {
            margin-left: 3rem;
        }

        a {
            color: $Mercury;
            border-bottom: $Bandsite-Black solid .25rem; //this is invisible on the background color
            padding-top: 1rem;
            padding-bottom: .75rem;

            @include tablet{
                padding-top: 1.75rem;
                padding-bottom: 1.75rem;
            }

            width: 100%; // this makes the link a bigger target than just the text
            display: block;
                     
        
            &:hover {
                color: $White;
                border-bottom: white solid .25rem; //make bottom border visible to user
            }

            &:active {
                color: $White;
                font-weight: 700;
                border-bottom: white solid .25rem; //make bottom border visible to user
            }
        }
    }   
}

//This id is applied to the current page in navigation to indicate where user currently is
#site-nav__current{
    color: $White;
    border-bottom: white solid .25rem;
    
    @include tablet{
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        transition: 0s;
    }
}




//Footer
footer {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $Bandsite-Black;
    color: $White;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    padding-bottom: 1rem;

    @include tablet {
        //position: relative;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom:3rem;
    }

    @include desktop(3);
}

.footer__mobile-title { 
    
    h1 {
        padding-bottom: 1.5rem;
    }

    //hide the bottom title for non mobile screens
    @include tablet {
        display: none;
    }
}

.footer-top {
    //Flex container for tablet+ sized screens
    @include tablet {
        display: flex;
        align-items: baseline;
        padding-top: 3rem;
                
        h2 {
            padding: 0;
            color: $White;
        }
    }


    //right side 'BANDSITE' in footer
    &__tablet-title {  
        //hide while the mobile title is displayed
        display: none;

        //show the right side title for non mobile screens
        @include tablet {
            display: block;
            margin-left: auto;    
        }
    }

    &__social-links {
        display: flex;
        justify-content: left;
        gap: 2rem;

        @include tablet {
            align-items: flex-end;
            padding-bottom: 1.5rem;
            margin-left: 3rem;
        }
    }
}

//card container for tablet+ sizes
.contacts {
    margin-bottom: 4rem;
    
    @include tablet {
        display: flex;
        justify-content: space-between;
        width: 40rem;
        margin-bottom: 3rem;
    }

    //contact card
    &__contact {
        margin-top: 1.5rem;

        //Name and company font
        h4 {
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.375rem;
            color: $White;
        }

        //middle lines of card content
        div {
            margin: 1rem 0;
            color: $White;

            p {
                color: $White;
                
                //tablet+ size footer copy
                @include tablet {
                    line-height: 1.25rem;
                }
                
            }
        }
    }
    
}

.copyright{
    font-size: 0.7rem; //largest font size without linebreak on 320px display
    color: $White;
}


