@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  src: url("../assets/fonts/alternative_files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../assets/fonts/alternative_files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Demi") format("opentype");
  src: url("../assets/fonts/alternative_files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
* {
  margin: 0;
  font-family: AvenirNext;
  color: #323232;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  width: 7.5rem;
  padding: 0;
  color: #FFF;
  background-color: #323232;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #FFF;
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

button {
  width: 100%;
  min-width: 150px;
  height: 2.5rem;
  color: #FFF;
  background-color: #323232;
  border-radius: 0.25rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}
button:hover, button :active {
  background-color: #000;
}

header {
  background-color: #323232;
  padding-top: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    position: unset;
    padding-left: 3rem;
    padding-top: 0;
    height: 5rem;
  }
}
@media (min-width: 1058px) {
  header {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
  }
}
header h1 {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  header h1 {
    position: unset;
    text-align: left;
    left: 0%;
    transform: translateX(0);
  }
}

.site-nav {
  display: flex;
  padding: 0;
}
.site-nav li {
  list-style: none;
  flex: 50%;
  text-align: center;
}
@media (min-width: 768px) {
  .site-nav li {
    margin-left: 3rem;
  }
}
.site-nav li a {
  color: #E1E1E1;
  border-bottom: #323232 solid 0.25rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .site-nav li a {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}
.site-nav li a:hover {
  color: #FFF;
  border-bottom: white solid 0.25rem;
}
.site-nav li a:active {
  color: #FFF;
  font-weight: 700;
  border-bottom: white solid 0.25rem;
}

#site-nav__current {
  color: #FFF;
  border-bottom: white solid 0.25rem;
}
@media (min-width: 768px) {
  #site-nav__current {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    transition: 0s;
  }
}

footer {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #323232;
  color: #FFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  footer {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1058px) {
  footer {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
  }
}

.footer__mobile-title h1 {
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .footer__mobile-title {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer-top {
    display: flex;
    align-items: baseline;
    padding-top: 3rem;
  }
  .footer-top h2 {
    padding: 0;
    color: #FFF;
  }
}
.footer-top__tablet-title {
  display: none;
}
@media (min-width: 768px) {
  .footer-top__tablet-title {
    display: block;
    margin-left: auto;
  }
}
.footer-top__social-links {
  display: flex;
  justify-content: left;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer-top__social-links {
    align-items: flex-end;
    padding-bottom: 1.5rem;
    margin-left: 3rem;
  }
}

.contacts {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin-bottom: 3rem;
  }
}
.contacts__contact {
  margin-top: 1.5rem;
}
.contacts__contact h4 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #FFF;
}
.contacts__contact div {
  margin: 1rem 0;
  color: #FFF;
}
.contacts__contact div p {
  color: #FFF;
}
@media (min-width: 768px) {
  .contacts__contact div p {
    line-height: 1.25rem;
  }
}

.copyright {
  font-size: 0.7rem;
  color: #FFF;
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  height: 58vw;
  max-height: 40rem;
  background-size: cover;
  background-position-y: 20%;
  position: relative;
}
.hero h2 {
  font-weight: 600;
  color: #FFF;
  padding-left: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .hero h2 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 3rem;
  }
}
@media (min-width: 1058px) {
  .hero h2 {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
  }
}

.about {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .about {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
  }
  .about h2 {
    transform: translateX(-3rem);
  }
}
@media (min-width: 1058px) {
  .about {
    padding-left: calc((100% - 1058px) / 2 + 6rem);
    padding-right: calc((100% - 1058px) / 2 + 6rem);
  }
}
.about img {
  width: 100%;
  height: 50vw;
  max-height: 27rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 768px) {
  .about img {
    height: 42vw;
  }
}
.about blockquote {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding: 0.35rem 0;
  max-width: 42rem;
}
@media (min-width: 768px) {
  .about blockquote {
    font-size: 1.4em;
    line-height: 1.75rem;
  }
}
.about__quote-attribution {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding-top: 0.35rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .about__content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
.about__content p {
  padding: 0.5rem 0;
}

.photo-gallery {
  background-color: #FAFAFA;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .photo-gallery {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1058px) {
  .photo-gallery {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
  }
}
.photo-gallery__photos {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .photo-gallery__photos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.photo-gallery__photos img {
  margin-bottom: 1rem;
  filter: grayscale(1);
  transition: 0.5s;
}
@media (min-width: 768px) {
  .photo-gallery__photos img {
    width: 31%;
    margin-bottom: 1.5rem;
  }
}
.photo-gallery__photos img:hover {
  filter: grayscale(0);
  filter: drop-shadow(8px 8px 10px #323232);
}

.conversation {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) and (min-width: 768px) {
  .conversation {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .conversation h2 {
    transform: translateX(-3rem);
  }
}
@media (min-width: 768px) and (min-width: 1058px) {
  .conversation {
    padding-left: calc((100% - 1058px) / 2 + 6rem);
    padding-right: calc((100% - 1058px) / 2 + 6rem);
  }
}
.conversation__top {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px #E1E1E1 solid;
}
@media (min-width: 1058px) {
  .conversation__top {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.conversation__top img {
  transform: translateY(1.25rem);
}
.conversation__top form {
  width: 100%;
}
@media (min-width: 768px) {
  .conversation__top form {
    position: relative;
    padding-bottom: 2rem;
  }
}
.conversation__top form label {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #AFAFAF;
  margin-bottom: 0.25rem;
}
.conversation__top form input, .conversation__top form textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 2rem;
  padding: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #000;
  background-color: #FAFAFA;
}
.conversation__top form input:active, .conversation__top form input:focus, .conversation__top form textarea:active, .conversation__top form textarea:focus {
  border: 1px solid #323232;
  outline: none;
}
.conversation__top form .error {
  border: 1px solid #D22D2D;
}
.conversation__top form textarea {
  height: 6rem;
  resize: none;
}
@media (min-width: 768px) {
  .conversation__top form button {
    max-width: 8rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.conversation__top form button:hover {
  background-color: #000;
}

#conversation__comments {
  flex-direction: column;
  margin-bottom: 1rem;
}
@media (min-width: 1058px) {
  #conversation__comments {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
}
#conversation__comments .card {
  padding: 1rem 0;
  border-bottom: 1px #E1E1E1 solid;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
#conversation__comments .card__right {
  width: 100%;
}
#conversation__comments .card__right div {
  display: flex;
  justify-content: space-between;
  color: #AFAFAF;
  font-size: 0.875rem;
}
#conversation__comments .card p {
  padding-top: 0.5rem;
}

.avatar {
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: 10% 0;
     object-position: 10% 0;
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  .avatar {
    height: 3rem;
    min-width: 3rem;
  }
}

.like-count {
  margin: 0 auto 0 0.5rem;
  padding-bottom: 0.25rem;
}

.little-button {
  filter: invert(1);
}
.little-button:hover {
  filter: invert(0);
}/*# sourceMappingURL=bio.css.map */