@import "./partials/_global.scss"; //styleguide fonts, breakpoints, header, and footer

//Honeybee section
.hero {
    background: linear-gradient(rgba($Bandsite-Black,0.5), rgba($Bandsite-Black,0.5)), url("../assets/images/hero-bio.jpg");
    height: 58vw;
    max-height: 40rem;
    background-size: cover;
    background-position-y: 20%;
    position: relative;

    //"The Bees Knees"
    h2 {
        //override h2 color and weight
        font-weight: 600;
        color: $White;
        padding-left: 1rem;
        //vertically center
        position: relative;
        top: 50%; 
        transform: translateY(-50%);

        @include tablet {
            font-size: 3.75rem;
            line-height: 4.25rem;
            padding-left: 3rem;
        }

        @include desktop(3);
    }
}

.about {
    margin-left: 1rem;
    margin-right: 1rem;

    //Set new width of section then align h2 with hero title 
    @include tablet {
        padding-left: 6rem;
        padding-right: 6rem;
        padding-bottom: 2rem;

        h2 {
            transform: translateX(-3rem);
        }
    }

    @include desktop(6); //this content has 6rem padding in tablet breakpoint

    img {
        width: 100%;
        height: 50vw;
        max-height: 27rem;
        object-fit: cover;
        object-position: bottom;

        //set image height to match provided documentation at 786px 
        @include tablet {
            height: 42vw;
        }
    }

    blockquote {
        font-size: .875rem;
        line-height: 1.5rem; 
        font-weight: 600;
        padding: .35rem 0;
        max-width: 42rem;

        @include tablet{
            font-size: 1.4em;
            line-height: 1.75rem;
        }
    }
    
    &__quote-attribution {
        font-size: .875rem;
        line-height: 1.5rem; 
        font-weight: 600;
        padding-top: .35rem;
        padding-bottom: 2rem;       
    }

    //long text section
    &__content{

        @include tablet {
            display: flex;
            justify-content: space-between;
            gap: 1rem; //prevents the paragraphs drom drifting apart as the page grows.
        }

        p{
            padding: 0.5rem 0;
        }
    }
}



.photo-gallery {
    background-color: $Alabaster;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
        padding-left: 3rem;
        padding-right: 3rem;   
    }

    @include desktop(3);

    
    &__photos {
        display: flex;
        flex-direction: column; //flex container 1x9 mobile

        @include tablet {
            flex-direction: row; //flex container 3 x 3 mobile
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        img {
          margin-bottom: 1rem;
          filter: grayscale(1); //full grayscale
          transition: 0.5s;

          @include tablet {
              width: 31%; //3 to a row
              margin-bottom: 1.5rem;    
            } 
        
            &:hover {
                filter: grayscale(0); //remove grayscale on hover
                filter: drop-shadow(8px 8px 10px $Bandsite-Black);
            }
        }
    }
}

.avatar{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
    object-position: 10% 0;
}
