@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  src: url("../assets/fonts/alternative_files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../assets/fonts/alternative_files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Demi") format("opentype");
  src: url("../assets/fonts/alternative_files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
* {
  margin: 0;
  font-family: AvenirNext;
  color: #323232;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  width: 7.5rem;
  padding: 0;
  color: #FFF;
  background-color: #323232;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #FFF;
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

button {
  width: 100%;
  min-width: 150px;
  height: 2.5rem;
  color: #FFF;
  background-color: #323232;
  border-radius: 0.25rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}
button:hover, button :active {
  background-color: #000;
}

header {
  background-color: #323232;
  padding-top: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    position: unset;
    padding-left: 3rem;
    padding-top: 0;
    height: 5rem;
  }
}
@media (min-width: 1058px) {
  header {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
  }
}
header h1 {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  header h1 {
    position: unset;
    text-align: left;
    left: 0%;
    transform: translateX(0);
  }
}

.site-nav {
  display: flex;
  padding: 0;
}
.site-nav li {
  list-style: none;
  flex: 50%;
  text-align: center;
}
@media (min-width: 768px) {
  .site-nav li {
    margin-left: 3rem;
  }
}
.site-nav li a {
  color: #E1E1E1;
  border-bottom: #323232 solid 0.25rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .site-nav li a {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}
.site-nav li a:hover {
  color: #FFF;
  border-bottom: white solid 0.25rem;
}
.site-nav li a:active {
  color: #FFF;
  font-weight: 700;
  border-bottom: white solid 0.25rem;
}

#site-nav__current {
  color: #FFF;
  border-bottom: white solid 0.25rem;
}
@media (min-width: 768px) {
  #site-nav__current {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    transition: 0s;
  }
}

footer {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #323232;
  color: #FFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  footer {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1058px) {
  footer {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
  }
}

.footer__mobile-title h1 {
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .footer__mobile-title {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer-top {
    display: flex;
    align-items: baseline;
    padding-top: 3rem;
  }
  .footer-top h2 {
    padding: 0;
    color: #FFF;
  }
}
.footer-top__tablet-title {
  display: none;
}
@media (min-width: 768px) {
  .footer-top__tablet-title {
    display: block;
    margin-left: auto;
  }
}
.footer-top__social-links {
  display: flex;
  justify-content: left;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer-top__social-links {
    align-items: flex-end;
    padding-bottom: 1.5rem;
    margin-left: 3rem;
  }
}

.contacts {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin-bottom: 3rem;
  }
}
.contacts__contact {
  margin-top: 1.5rem;
}
.contacts__contact h4 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #FFF;
}
.contacts__contact div {
  margin: 1rem 0;
  color: #FFF;
}
.contacts__contact div p {
  color: #FFF;
}
@media (min-width: 768px) {
  .contacts__contact div p {
    line-height: 1.25rem;
  }
}

.copyright {
  font-size: 0.7rem;
  color: #FFF;
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-shows.jpg");
  height: 18rem;
  background-size: cover;
  background-position-y: 25%;
  position: relative;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
  min-width: 14rem;
}
@media (min-width: 768px) {
  .hero {
    padding-left: 3rem;
    padding-right: 3rem;
    height: 25rem;
  }
}
@media (min-width: 1058px) {
  .hero {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.hero__word-block {
  max-width: 15rem;
}
@media (min-width: 768px) {
  .hero__word-block {
    max-width: 35rem;
  }
}
@media (min-width: 1058px) {
  .hero__word-block {
    padding-left: calc((100% - 1058px) / 2 + 0rem);
    padding-right: calc((100% - 1058px) / 2 + 0rem);
    max-width: 30rem;
    max-height: 12rem;
  }
}
.hero__word-block h2 {
  font-weight: 600;
  color: #FFF;
  padding-top: 1rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
@media (min-width: 768px) {
  .hero__word-block h2 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.hero__word-block h3 {
  color: #FFF;
  font-weight: 400;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .hero__word-block h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.hero__soundcloud {
  width: 100%;
  max-width: 25rem;
  height: 8rem;
}
@media (min-width: 1058px) {
  .hero__soundcloud {
    padding-left: calc((100% - 1058px) / 2 + 0rem);
    padding-right: calc((100% - 1058px) / 2 + 0rem);
    padding-top: 2rem;
  }
}

.shows {
  padding-bottom: 1rem;
  max-width: 30 rem;
  margin-left: auto;
  margin-right: auto;
}
.shows h2 {
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .shows h2 {
    padding-left: 3rem;
  }
}
@media (min-width: 1058px) {
  .shows h2 {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
  }
}
@media (min-width: 1058px) {
  .shows div {
    padding-left: calc((100% - 1058px) / 2 + 3rem);
    padding-right: calc((100% - 1058px) / 2 + 3rem);
    max-width: 45rem;
    position: relative;
    top: -2.5rem;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: calc((100% - 1058px)/2 + 2rem);
  }
}
.shows__tour-stop {
  padding: 1rem;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .shows__tour-stop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 2rem;
  }
  .shows__tour-stop:hover {
    background-color: #FAFAFA;
  }
  .shows__tour-stop:active {
    background-color: #E1E1E1;
  }
}
.shows__tour-stop h4 {
  color: #AFAFAF;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .shows__tour-stop h4 {
    display: none;
  }
}
.shows__tour-stop p {
  width: 10rem;
  font-size: 1rem;
  padding: 0.5rem 0 1rem;
}
@media (min-width: 768px) {
  .shows__tour-stop p {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .shows__tour-stop button {
    max-width: 10rem;
  }
}
.shows .active {
  background-color: #E1E1E1;
}
.shows__tablet-title-card {
  display: none;
}
.shows__tablet-title-card h4 {
  width: 10rem;
  color: #AFAFAF;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .shows__tablet-title-card {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .shows__tablet-title-card:hover, .shows__tablet-title-card:active {
    background-color: #FFF;
  }
}

@media (min-width: 768px) {
  .tablet-title {
    display: block;
  }
}
@media (min-width: 1058px) {
  .tablet-title {
    padding-left: calc((100% - 1058px) / 2 + 0rem);
    padding-right: calc((100% - 1058px) / 2 + 0rem);
    padding-bottom: 1rem;
  }
}

.bold {
  font-weight: 600;
}/*# sourceMappingURL=shows.css.map */